<div class="spend_index">
  <p id="notice"><%= notice %></p>

  <h1>収支表カレンダー</h1>

  <table>
    <thead>
      <tr>
        <th>支出名</th>
        <th>金額</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @spends.each do |spend| %>
      <tr>
        <td><%= spend.name %></td>
        <td><%= spend.money %></td>
        <td><%= link_to "詳細", spend_path(spend) %></td>
        <td><%= link_to "変更", edit_spend_path(spend) %></td>
        <td><%= link_to "削除", spend_path(spend), method: :delete, data: { confirm: "支出記録を削除しても問題ありませんか？" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h4>※ 完了した予定は削除しましょう</h4>

  <%= link_to "支出記録の作成", new_spend_path %>
  <%= month_calendar events: @spends do |date, spends| %>
    <%= date %>

    <% spends.each do |spend| %>
      <div>
        ・<%= spend.body %>
        <%= spend.money %> 開始
      </div>
    <% end %>
  <% end %>


</div>