<div class="spend_show">
  <h1>支出詳細</h1>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>支出理由:</strong>
    <%= @spend.body %>
  </p>

  <p>
    <strong>支出金額:</strong>
    <%= @spend.money %>
  </p>

  <%= link_to "支出一覧へ戻る", spends_path, class:"btn btn-primary" %><br>
  <p>
    <%= link_to "予定の変更", edit_spend_path(@spend), class:"btn btn-success" %> 
    <%= link_to "予定の削除", spend_path(@spend), method: :delete, class:"btn btn-danger", data: { confirm: "支出記録を削除しても問題ありませんか？" } %>
  </p>
</div>