<div class="navbar navbar-expand-lg bg-dark navbar-white header_header">
  <div class="container">

    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto nav header-icon-ul">
          <li class="header-icon-li">
            <%= link_to "予定一覧表", schedules_path, class: 'btn btn-primary navbar-brand header-menu' %>
          </li>
          <li class="header-icon-li">
            <%= link_to "予定の新規作成", new_schedule_path, class: 'btn btn-success navbar-brand header-menu' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger navbar-brand header-menu' %>
          </li>
        </ul>
      </div>

    <% else %>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto nav header-icon-ul">
          <li>
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
